* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #ded8d8;
}

#nav {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: flex-end;
  padding: 0 34px;
  gap: 25px;
  /* background-color: red; */
}

#nav h4 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
}

#center {
  width: 100%;
  padding: 40px 70px;
  /* background-color: red; */
}

#center h1 {
  font-size: 80px;
  font-weight: 500;
  line-height: 85px;
}

#center-in {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 135px;
  margin-top: 30px;
  /* background-color: red; */
}

#center-in p {
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
}
#right {
  width: 20%;
}
.elem {
  /* background-color: yellow; */
  border-top: 2px solid black;
  padding: 20px 0;
}

.elem a {
  text-decoration: none;
  color: #000;
}

.elem:hover {
  background-color: #dadada;
  text-decoration: underline;
}

#bottom {
  width: 100%;
  height: 35%;
  background-image: url(https://images.unsplash.com/photo-1488426862026-3ee34a7d66df?q=80&w=1727&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 0 40%;
}
